:root {
    --color-primary: #FDA979;
    --color-primary-dark: #BE8E74;
    --color-secondary: #78FAD6;
    --color-secondary-dark: #00815D;
}

.home-category {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    margin: 10pt;
    padding: 30pt;
    background-color: var(--color-secondary);
    border-radius: 10pt;
}

.home-category-text {
    margin: 0;
    padding: 0;
}

.category-list-book {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    display: inline-block;
    margin: 10pt;
    padding: 0;
    border: 2pt solid var(--color-secondary-dark);
    border-radius: 10pt;
}

.seller-listing-book {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    display: inline-block;
    margin: 10pt;
    padding: 0;
    border: 2pt solid var(--color-secondary-dark);
    border-radius: 10pt;
}

.top-bar {
    background-color: var(--color-primary);
}

.top-bar-user-menu {
    background-color: var(--color-primary-dark);
    text-align: center;
    display: none;
}

.top-bar-seller-menu {
    background-color: var(--color-primary-dark);
    text-align: center;
}

.top-bar-user-menu-item {
    margin: 10pt;
    padding: 0;
    display: inline;
}

.top-bar-logo {
    padding: 0 0 0 10pt;
}

.button-primary {
    background-color: var(--color-primary);
}

.button-primary:hover {
    background-color: var(--color-primary-dark);
}

.button-secondary {
    background-color: var(--color-secondary);
}

.button-secondary:hover {
    background-color: var(--color-secondary-dark);
}

.login-alert {
    display: none;
}

.black-link {
    color: black;
    text-decoration: none;
}

.black-link:hover {
    color: black;
    text-decoration: none;
}