@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root {
    --color-primary: #FDA979;
    --color-primary-dark: #BE8E74;
    --color-secondary: #78FAD6;
    --color-secondary-dark: #00815D;
}

.home-category {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    margin: 10pt;
    padding: 30pt;
    background-color: var(--color-secondary);
    border-radius: 10pt;
}

.home-category-text {
    margin: 0;
    padding: 0;
}

.category-list-book {
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    display: inline-block;
    margin: 10pt;
    padding: 10pt;
    border: 2pt solid var(--color-secondary-dark);
    border-radius: 10pt;
}

.category-list-book-image {
    height: 200pt;
    max-width: 100%;
    object-fit: contain;
}

.seller-listing-book {
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
    margin: 10pt;
    padding: 0;
    border: 2pt solid var(--color-secondary-dark);
    border-radius: 4pt;
}

.top-bar {
    background-color: var(--color-primary);
}

.top-bar-user-menu {
    text-align: center;
    display: none;
}

.top-bar-seller-menu {
    text-align: center;
}

.top-bar-user-menu-item {
    list-style-type: none;
    list-style-position: inside;
    position: relative;
    margin: 0;
    padding: 10pt 0;
}

.top-bar-user-menu-item:hover {
    background-color: var(--color-primary-dark);
    list-style-type: none;
    list-style-position: inside;
}

.top-bar-logo {
    font-family: 'Alex Brush', cursive;
    font-size: 48pt;
    padding: 0 0 0 10pt;
}

.top-bar-search {
    height: 40pt;
}

.top-bar-search-icon {
    max-height: 100%;
    width: auto;
}

.button-primary {
    background-color: var(--color-primary);
}

.button-primary:hover {
    background-color: var(--color-primary-dark);
}

.button-secondary {
    background-color: var(--color-secondary);
}

.button-secondary:hover {
    background-color: var(--color-secondary-dark);
}

.login-alert {
    display: none;
}

.black-link {
    color: black;
    text-decoration: none;
}

.black-link:hover {
    color: black;
    text-decoration: none;
}